In [1]:
import pandas as pd

df = pd.read_csv('drug_consumption.csv')
df = df.replace('CL0', 0).replace('CL1', 1).replace('CL2', 2).replace('CL3', 3).replace('CL4', 4).replace('CL5', 5).replace('CL6', 6)
score = df[['Amphet', 'Amyl', 'Benzos', 'Cannabis', 'Coke', 'Crack',
            'Ecstasy', 'Heroin', 'Ketamine', 'Nicotine', 'Legalh', 'LSD', 'Meth',
            'Semer', 'VSA']].sum(axis = 1)
df['score'] = score
# score 열의 값들을 퍼센트로 변환
# 각 점수를 백분율로 변환
df['score'] = (df['score'] / 90) * 100
df

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,...,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA,score
0,1,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,...,0,0,0,0,0,0,2,0,0,6.666667
1,2,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,...,0,2,0,2,3,0,4,0,0,28.888889
2,3,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,...,0,0,0,0,0,1,0,0,0,3.333333
3,4,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,...,0,2,0,0,0,0,2,0,0,12.222222
4,5,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,...,0,0,1,0,0,2,2,0,0,10.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1880,1884,-0.95197,0.48246,-0.61113,-0.57009,-0.31685,-1.19430,1.74091,1.88511,0.76096,...,0,0,3,3,0,0,0,0,5,17.777778
1881,1885,-0.95197,-0.48246,-0.61113,-0.57009,-0.31685,-0.24649,1.74091,0.58331,0.76096,...,0,0,3,5,4,4,5,0,0,24.444444
1882,1886,-0.07854,0.48246,0.45468,-0.57009,-0.31685,1.13281,-1.37639,-1.27553,-1.77200,...,0,2,0,2,0,2,6,0,0,44.444444
1883,1887,-0.95197,0.48246,-0.61113,-0.57009,-0.31685,0.91093,-1.92173,0.29338,-1.62090,...,0,0,3,3,0,3,4,0,0,21.111111
1884,1888,-0.95197,-0.48246,-0.61113,0.21128,-0.31685,-0.46725,2.12700,1.65653,1.11406,...,0,0,3,3,0,3,6,0,2,32.222222

In [2]:
df = df.drop(['ID', 'Gender','Ethnicity', 'Alcohol',
       'Amphet', 'Amyl', 'Benzos', 'Caff', 'Cannabis', 'Choc', 'Coke', 'Crack',
       'Ecstasy', 'Heroin', 'Ketamine', 'Legalh', 'LSD', 'Meth', 'Mushrooms',
       'Nicotine', 'Semer', 'VSA'], axis = 1)
df

,Age,Education,Country,Nscore,Escore,Oscore,Ascore,Cscore,Impulsive,SS,score
0,0.49788,-0.05921,0.96082,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,-0.21712,-1.18084,6.666667
1,-0.07854,1.98437,0.96082,-0.67825,1.93886,1.43533,0.76096,-0.14277,-0.71126,-0.21575,28.888889
2,0.49788,-0.05921,0.96082,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,-1.37983,0.40148,3.333333
3,-0.95197,1.16365,0.96082,-0.14882,-0.80615,-0.01928,0.59042,0.58489,-1.37983,-1.18084,12.222222
4,0.49788,1.98437,0.96082,0.73545,-1.63340,-0.45174,-0.30172,1.30612,-0.21712,-0.21575,10.000000
...,...,...,...,...,...,...,...,...,...,...,...
1880,-0.95197,-0.61113,-0.57009,-1.19430,1.74091,1.88511,0.76096,-1.13788,0.88113,1.92173,17.777778
1881,-0.95197,-0.61113,-0.57009,-0.24649,1.74091,0.58331,0.76096,-1.51840,0.88113,0.76540,24.444444
1882,-0.07854,0.45468,-0.57009,1.13281,-1.37639,-1.27553,-1.77200,-1.38502,0.52975,-0.52593,44.444444
1883,-0.95197,-0.61113,-0.57009,0.91093,-1.92173,0.29338,-1.62090,-2.57309,1.29221,1.22470,21.111111
1884,-0.95197,-0.61113,0.21128,-0.46725,2.12700,1.65653,1.11406,0.41594,0.88113,1.22470,32.222222

In [3]:
dataset = df.values
print(dataset.shape)

(1885, 11)

In [4]:
# 필요한 열 선택
X = dataset[:, 0:10]  # Age, Education, NeoScore, Implusive, SS
y = dataset[:, 10]    # score

In [5]:
# 정규화
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_normalized = scaler.fit_transform(X)

# 분배
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_normalized, y, test_size=0.2, random_state=42)

# 신경망 모델

In [6]:
import tensorflow as tf
import random
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.optimizers import RMSprop
from tensorflow.keras.layers import BatchNormalization
from tensorflow.keras.layers import Activation

np.random.seed(42)
random.seed(42)
tf.random.set_seed(42)

model = Sequential()
model.add(Dense(16, input_dim=10))
model.add(BatchNormalization())
model.add(Activation('selu'))
model.add(Dropout(0.0326530612244898))
model.add(Dense(16))
model.add(BatchNormalization())
model.add(Activation('selu'))
model.add(Dropout(0.0326530612244898))
model.add(Dense(1, activation='linear'))

# Compile the model
optimizer = RMSprop(learning_rate=0.004177551020408164)
model.compile(optimizer=optimizer, loss='mean_squared_error', metrics=['mean_squared_error', 'mean_absolute_error'])

# Train the model
history = model.fit(X_train, y_train, epochs=24, batch_size=40, validation_data=(X_test, y_test), verbose=0)

# Evaluate the model
loss, mse, mae = model.evaluate(X_test, y_test, verbose=0)

# RMSE
rmse = np.sqrt(mse)

# Append results
loss, mse, mae, rmse

(123.439697265625, 123.439697265625, 8.59365177154541, 11.11034190588323)